* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #318ae4;
  height: 7rem;
  grid-area: head;
}

footer {
  background-color: black;
  height: 7rem;
  color: white;
  grid-area: footer;
}

main {
  height: 20rem;
}

nav {
  background-color: #a6bdd1;
  grid-area: nav;
  height: 7rem; /* Height adjusted for mobile view */
}

main {
  background-color: #eeeeee;
  grid-area: main;
}

aside {
  background-color: #a2be9a;
  grid-area: aside;
  display: none;
  height: 7rem;
}

@media screen and (min-width: 768px){
  .grid-container {
    display: grid;
    grid-template-areas:
    "head head head"
    "nav aside aside"
    "nav main main "
    "nav main main "
    "footer footer footer";
    height: 70vh;
  }

  /* *** This area of code isn't required ***
  header, footer {
    grid-column-start: 1;
    grid-column-end: 4;
  } */

nav {
  height: 27rem; 
  /* Height altered from mobile view to fit with grid
  It keeps the original 7rem otherwise*/
}

  aside { 
      display: block;
  }
}